@use "./variables" as *;
@use "./resets";
@use "./mixins" as *;

.footer {
  display: flex;
  justify-content: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-text {
  text-align: center;
}
