$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-black: #323232;

$primary-silver: #afafaf;

$primary-white: #ffffff;

$secondary-darkblack: #00000000;

$secondary-mercury: #e1e1e1;

$secondary-alabaster: #fafafa;

$font-head-desktop: 5rem;

$font-head-tablet: 3rem;

$font-h2-desktop: 3rem;

$font-h2-tablet: 2rem;
